<div class="row">
  <div class="col-4">
    <h1 class="fw-bold my-5">Nueva pelicula</h1>
    <%= render "form", movie: @movie %>

    <div class="mt-5">
      <%= link_to "Volver a peliculas", movies_path, class: "btn btn-outline-warning" %>
    </div>
  </div>
</div>
