<div class="row">
  <div class="col-4">
    <h1 class="fw-bold my-5">Editando...</h1>

    <%= render "form", client: @client %>

    <div class="mt-5">
      <%= link_to "Volver a clientes", clients_path, class: "btn btn-outline-warning" %>
    </div>
  </div>
</div>




